body {
    margin: 0;
    padding: 0;
    background-image: url('image/background.JPG');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #758276;
    font-size: 50px;
    text-align: center;
    margin-bottom: 550px;
    font-family: serif;
    font-weight: bolder;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 15px;
    font-family: serif;
    font-weight: bolder;
    background-color: #e1dbc9;
    color: #758276;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    display: inline-block;
    width: auto;
    text-align: center;
}

.button:hover {
    background-color: #d9d0ba;
}
